<body id="Cuerpo">
    <section id="Fondo">
        <div class="Verificar">
        <img src="/assets/Logo.png" alt="logo-Petwellness">
        <h1>Verificación de seguridad</h1>
        <h4>Elija un método para comprobar su identidad</h4>
        </div>
        <section>
            <h3>Correo electrónico</h3>
            <span class="Metodos" routerLink="/authentication/codigo"> 
                <img src="/assets/email.png" alt="Simbolo de carta">
                <h4>Enviar código de seguridad al correo</h4>
            </span>
        </section>
        <button class="Cancelar" routerLink="/authentication/login">Cancelar</button>
    </section>
</body>