<body id="Cuerpo">
    <section id="Fondo">
        <img src="/assets/Logo.png" alt="logo-Petwellness">
        <h1>Recuperar cuenta</h1>
        <h4>Ingrese una nueva contraseña para recuperar su cuenta</h4>
        <div>
        <section class="Contra">
            <h3>Ingrese la nueva contraseña</h3>
            <input id="Ver-contrasena_1" type="password" name="Contrasena" (click)="VerContrasena=false" (click)="VerContrasenaDiferente=false" required>
            <img (click)="OcultarContrasena()" class="Ver-contrasena" src="/assets/ojo.png" alt="Ojo de vista de contraseña">
            <small *ngIf="VerContrasena"><br>Debe tener "aA0".</small>
            <small *ngIf="VerContrasenaDiferente"><br>Las contraseñas son diferentes.</small>
        </section>
        <section class="Contra">
            <h3>Confirmar la nueva contraseña</h3>
            <input id="Ver-contrasena_2" type="password" name="Confirmar-contrasena" (click)="VerContrasena=false" (click)="VerContrasenaDiferente=false" required>
            <img (click)="OcultarContrasena()" class="Ver-contrasena" src="/assets/ojo.png" alt="Ojo de vista de contraseña">
            <small *ngIf="VerContrasenaDiferente"><br>Las contraseñas son diferentes.</small>
        </section>
        </div>
        <div class="botones">
        <button class="Cancelar" routerLink="/authentication/login">Cancelar</button>
        <button (click)="Cambiar_contrasena()" class="Siguiente">Siguiente</button>
        </div>
    </section>
</body>
                