<body>
    <section class="Fondo">
        <img src="" alt="logo-Petwellness">
        <h1>Recuperar cuenta</h1>
        <h4>Ingrese una nueva contraseña para recuperar su cuenta</h4>
        <section>
            <h3>Ingrese la nueva contraseña</h3>
            <input type="password" name="Contrasena" required>
        </section>
        <section>
            <h3>Confirmar la nueva contraseña</h3>
            <input type="password" name="Confirmar-contrasena" required>
        </section>
        <button type="" routerLink="/authentication/login">Cancelar</button>
        <button type="" routerLink="/authentication/login">Siguiente</button>
    </section>
</body>