<header class="navbar">
    <div class="navbar-logo">
        <img src="/assets/Logo.png" alt="logo">
    </div>
    <nav class="navbar-nav">
        <div class="container-nav">
            <div class="label" routerLink="" (click)="setActiveLabel('Inicio')" [ngClass]="{'active': activeLabel === 'Inicio'}">Inicio</div>
            <div class="label" routerLink="" (click)="setActiveLabel('Consultas')" [ngClass]="{'active': activeLabel === 'Consultas'}">Consultas</div>
            <div class="label" routerLink="" (click)="setActiveLabel('Mascotas')" [ngClass]="{'active': activeLabel === 'Mascotas'}">Mascotas</div>
        </div>
        <div class="container-option">
            <div class="option"><img src="/assets/carrito-compras.png" alt="carrito de compras"></div>
            <div class="option"><img src="/assets/notificacion.png" alt="notificacion"></div>
        </div>
    </nav>
    <div class="navbar-user">
        <img src="/assets/Dueno.png" alt="dueño">
    </div>
</header>