#Cuerpo {
    zoom: 100%; 
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    background-image: var(--fondo);
    background-size: cover;
}

#Fondo {
    margin: 25px 0;
    box-sizing: border-box;
    width: 720px;
    height: 939px;
    border-radius: 25px;
    background: #FFF;
    place-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

img {
    width: 187px;
    height: 105px;
}

.Ver-contrasena {
    margin: 0;
    padding: 0;
    transform: translate(-60px, 18px);
    width: 30px;
    height: auto;
    padding: 7px;
}

.Ver-contrasena:hover {
    background-color: #d4d4d4;
    border-radius: 50%;
}

h1 {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 18.4px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form section {
    margin-bottom: 32px;
    margin-top: 10px;
}

.Contra {
    position: relative;
    width: fit-content;
    align-items: center;
    left: 4.5%;
}

h3 {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.4px;
    padding-left: 5%;
}

input {
    width: 460px;
    height: 60px;
    border-radius: 25px;
    font-family: 'Quicksand', sans-serif;
    background: #F0F0F0;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px;
    box-sizing: border-box;
}

button {
    box-sizing: border-box;
    display: flex;
    width: 460px;
    height: 60px;
    padding: 21px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #F0F0F0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
}

.Acceder {
    background-color: #0099B2;
}

.Crear {
    background-color: #5CB4B5;
}

button:hover {
    background-color: #000;
    opacity: 20%;
}

span {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.4px;
    align-self: center;
    padding: 25px;
}

.Recuperar {
    cursor: pointer;
}

.Recuperar:hover {
    opacity: 40%;
}

.Separador {
    box-sizing: border-box;
    width: 460px;
    height: 1px;
    background-color: #000;
    padding: 0;
}