nav:first-child {
    box-sizing: border-box;
    width: 500px;
    height: 40px;
    border-radius: 25px;
    background-color: #D3EFF3;
    justify-items: center;
    place-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav span {
    place-content: center;
    text-align: center;
    color: #5CB4B5;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.4px;
    cursor: pointer;
    width: 170px;
    height: 40px;
    border-radius: 25px;
}

nav span.active {
    color: #D3EFF3;
    background-color: #5CB4B5;
}

nav:last-child {
    justify-items: center;
    place-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
}

img {
    width: auto;
    height: 35px;
    cursor: pointer;
}

section {
    display: grid;
    place-content: center;
    justify-items: center;
    row-gap: 20px;
}