<section>
    <nav>
        <span (click)="CambiarUsuario('Dueños')" [ngClass]="{'active': UsuarioActivo === 'Dueños'}">Dueños</span>
        <span (click)="CambiarUsuario('Albergues')" [ngClass]="{'active': UsuarioActivo === 'Albergues'}">Albergues</span>
        <span (click)="CambiarUsuario('Veterinario')" [ngClass]="{'active': UsuarioActivo === 'Veterinario'}">Veterinario</span>
    </nav>
    <nav>
        <img src="/assets/logo-google.png" alt="logo-google">
        <img src="/assets/logo-apple.png" alt="logo-apple">
        <img src="/assets/logo-facebook.png" alt="logo-facebook">
    </nav>
    
</section>
